---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import BrandCarousel from "../components/sections/BrandCarousel.astro";
import TextMarquee from "../components/ui/TextMarquee.astro";
import Projects from "../components/sections/Projects.astro";
import MoreServices from "../components/sections/MoreServices.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import CTA from "../components/sections/CTA.astro";
import Sponsorship from "../components/sections/Sponsorship.astro";
import Stack from "../components/sections/Stack.astro";
import Footer from "../components/layout/Footer.astro";
---

<Layout title=" | Software y Soluciones Digitales">
  <!-- Hero en posición relativa -->
  <div class="relative">
    <Hero />
  </div>

  <BrandCarousel />

  <Projects />

  <TextMarquee />

  <!-- <Service /> -->

  <MoreServices />

  <AboutUs />

  <TextMarquee />

  <CTA />

  <Sponsorship />

  <Stack />

  <Footer />
</Layout>
